body{
    height: 100%;
    background-image: url("../Assets/Picture10.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.option{
    display: flex;
    flex-direction: row;
    grid-column-gap: 10px;
    margin-right: -5px;
    flex-wrap: wrap;
}
.option div{
    width: 252px;
    height: 300px;
    text-align: center;
    font-weight: 500;
    background-color:white;
    border: 5px solid black;
    font-family: "MyOtherCustomFont", "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 3rem;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 10px 0 rgba(0, 0, 0, 0.2);
}
a{
    color:black;
    font-family: "MyOtherCustomFont", "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 32px;
}
.option div:hover{
    margin-top: -5px;
    color: red;
    width: 255px;
    height: 310px;
    transition: height 200ms, width 300ms;
}