body{
    height: 80vh;
    background-image: url("Assets/Picture10.png");
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.menuoption{
    display: flex;
    flex-direction: row;
    background-color: transparent;
    grid-column-gap: 40px;
    font-size: 40px;
    font-weight: 500;
}
.menuoption div{
    font-size: 40px;
    font-weight: 500;
    font-family: MyOtherCustomFont, sans-serif;
}
.menuoption div:hover{
    text-decoration: underline;
}
a{
    text-decoration: none;
    color: black;
}
a.active{
    text-decoration: underline;
    color: yellow;
    text-shadow: 2px 2px #000000
}
