@font-face {
    font-family: 'MyCustomFont';
    src: url('fonts/Aclonica-Regular.ttf') format('truetype');
}
@font-face{
    font-family: 'MyOtherCustomFont';
    src: url("fonts/42SansVar-Roman-VF.ttf") format('truetype');
}
ul {
    box-sizing: border-box;
    display: flex; position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    margin: 0;
    list-style: none;
    z-index: 9999;
    font-family: "MyOtherCustomFont", "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
}
ul li:first-child{
    margin-right: auto;
}
ul li a {
    display: flex;
    color: gray;
    text-align: center;
    padding: 15px 20px;
    text-decoration: none;
    font-size: 32px;
}
ul li b{
    font-size: 40px;
    color: yellow;
    text-shadow: black 2px 2px;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover {
    background-color: transparent;
}
img{
    margin: 50px
}
div.image-row{
    display: flex;
    gap: 50px;
}
div.flex-container {
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
}
